
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #2b2541;
}


.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; padding-left: 450px;
}

.profile-card {
  width: 320px;
  background: #1f1b3a;
  color: #ffffff;
  padding: 25px;
  border-radius: 15px;
  text-align: center;
  position: relative;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
}


.profile-img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 3px solid #1ecbe1;
  margin-bottom: 10px;
}


.location {
  font-size: 12px;
  color: #bbb;
  margin-bottom: 10px;
}


.bio {
  font-size: 14px;
  color: #ccc;
  margin-bottom: 20px;
}


.buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.buttons button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.linkedin {
  background: #1ecbe1;
  color: #000;
}

.github {
  background: transparent;
  border: 1px solid #1ecbe1;
  color: #1ecbe1;
}
.linkedin:hover ,.github:hover{
  opacity: 50%;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 10px;
}

.skills span {
  border: 1px solid #555;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
}
.skills span:hover{
  background-color: #1ecbe1;
  color: #2b2541;
}
